{{#if (and shouldShow discoveryRoute)}}
  <div class="custom-homepage-wrapper">
    <div class="wrap custom-homepage">
      <div class="welcome-wrapper">
        <div class="welcome-content">
          <h2>{{theme-setting 'welcome'}}</h2>
          <p>{{theme-setting 'subtitle'}}</p>
        </div>
        <div class="featured-todo">
          <div>
            <a href="{{theme-setting 'first_link'}}">
              <h3> {{d-icon (theme-setting 'first_icon') }}
               {{theme-setting 'first_label'}}</h3>
            </a>
          </div>
          <div>
            <a href="{{theme-setting 'second_link'}}">
             <h3> {{d-icon (theme-setting 'second_icon') }}
               {{theme-setting 'second_label'}}</h3>
            </a>
          </div>
          <div>
             <a href="{{theme-setting 'third_link'}}">
              <h3> {{d-icon (theme-setting 'thrid_icon') }}
                 {{theme-setting 'thrid_label'}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}