{{#if (and shouldShow discoveryRoute)}}
  <div class="custom-homepage-wrapper">
    <div class="wrap custom-homepage">
      <div class="welcome-wrapper">
        <div class="welcome-content">
          <h2>{{theme-i18n "meta_banner.welcome"}}</h2>
          <p>{{theme-i18n "meta_banner.subtitle"}}</p>
        </div>
        <div class="featured-todo">
          <div>
            <a href="/about">
              <h3>{{d-icon "info-circle"}}
                {{theme-i18n "meta_banner.docs"}}</h3>
            </a>
          </div>
          <div>
            <a href="/tags">
              <h3>{{d-icon "tags"}}
                {{theme-i18n "meta_banner.themes"}}</h3>
            </a>
          </div>
          <div>
            <a href="">
              <h3>
                {{d-icon "glass-cheers"}}
                {{theme-i18n "meta_banner.hosting"}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}