{{#if (and shouldShow discoveryRoute)}}
  <div class="custom-homepage-wrapper">
    <div class="wrap custom-homepage">
      <div class="welcome-wrapper">
        <div class="welcome-content">
          <h2>{{theme-setting 'welcome'}}</h2>
          <p>{{theme-setting 'subtitle'}}</p>
        </div>
        <div class="featured-todo">
           {{#each bannerLinks as |bl|}}
                <div>
                  <a href="{{bl.url}}">
                    <h3>
                      {{d-icon bl.icon}}
                      {{bl.text}}
                    </h3>
                  </a>
                </div>
              {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}